1.create variable

In [3]:
verilen1 = 5
type(verilen1)

int

In [4]:
verilen2 = 2.0
type(verilen2)

float

#2. Integer, float, boolean, complex

In [8]:
#boolean
a1 = True
a2 = False
type(a2)

bool

In [7]:
verilen3 = 7
boolean = bool(verilen3)
boolean

True

In [10]:
verilen4 = 3+4j
type(verilen4)

complex


#4. Change the type of variable. From integer to float, to boolean and against

In [11]:
a = 7
b = float(a)
b

7.0

In [12]:
c = complex(a)
c

(7+0j)

In [13]:
d = bool(a)
d

True

In [21]:
a1 = True
boolean=int(a1)
print(boolean,"-->",type(boolean))

1 --> <class 'int'>

In [23]:
t = 7.5
g = int(t)
print(g,"--->",type(g))

7 ---> <class 'int'>


#5.Perform the or and operation to determine the relationship between booleans. (For example:True and False).  And print the results

In [24]:
True and False

False

In [26]:
False or False

False

In [27]:
True or False

True

#6. Use operators

In [28]:
1>2, 2>1

(False, True)

In [29]:
(3>=4) | (3<=4)

True

In [30]:
[3,4]==[4,5]

False

In [31]:
v1 = 34
v2 = 35
v1 != v2

True

In [32]:
v1 is v2

False

In [35]:
import math
b = math.pow(2,3)
b

8.0

In [38]:
b1 = 7
b2 = 3
b1 % b2

1

In [39]:
b1 / b2

2.3333333333333335

In [40]:
b1 // b2

2

In [41]:
c1 = 3.0
c2 = 4.0
c1*c2

12.0

In [42]:
c1**c2

81.0


#7. Create strings, print type and length of it.

In [45]:
new = 'my nAme iS bahar'
new.isalpha()

False

In [49]:
len(new)

16

In [46]:
new1 = 'bahar'
new1.isalpha()

True

In [50]:
len(new1)

5

In [48]:
z = '4.0'
z.isdigit()

False

In [52]:
len(z)

3

#8. Try changing the words inside the string

In [57]:
my_string = "If you can dream it, you can do it"
myNew_string = my_string.replace("If","Always")
print(myNew_string ,"\n" "You good!" )

Always you can dream it, you can do it
You good!

#9. Print the elements of string with its indexs

In [59]:
my_string[3:9]

'you ca'

In [60]:
#start #stop #step
my_string[-11:-3:2]

'ucnd'

In [61]:
my_string.capitalize()

'If you can dream it, you can do it'

In [62]:
my_string.upper()

'IF YOU CAN DREAM IT, YOU CAN DO IT'

In [63]:
my_string.endswith("T")

False


#10. Try to print result with C style formatting . Use 2 methods

In [68]:
hello = "Blok"
T = hello[0:].upper() 
print(T)

BLOK

In [76]:
hello = "Blok"
T = hello[0:].upper() +" " "Yes" 
print(T)

BLOK Yes

In [88]:
little = ' lets,try,it,now '
little = little.rstrip()

In [90]:
"5"+"apple"

'5apple'

In [91]:
print("yellow",2.5,True)

yellow 2.5 True

In [97]:
print("yellow",2.5,True,-5j)

yellow 2.5 True (-0-5j)

In [98]:
a=7.5
b=8.6
c=-9.2
print("z = %f"% (a+b+c))

z = 6.900000

In [100]:
n = "Normal Life"
where = n.find("rma")
where

2

In [11]:
#list
list(range(5,55,10))

[5, 15, 25, 35, 45]

In [24]:
#11. Create List, nested list.

my_list = ['New York', 'Los Angeles', 'Las Vegas', 'Miami']
print(my_list)

['New York', 'Los Angeles', 'Las Vegas', 'Miami']

In [17]:
nested_list = [3,[4,[5,[6]]]]
nested_list[1][1]

[5, [6]]

In [18]:
nested_list[1][1][0]

5

#12. Try to split the list using indexes. Print the parts

In [25]:

my_list[0:4]

['New York', 'Los Angeles', 'Las Vegas', 'Miami']

In [26]:
my_list[::-2]

['Miami', 'Los Angeles']

#13. Try to find the results of the same list from back to front (in 1 step)

In [21]:

my_list = ['New York', 'Los Angeles', 'Las Vegas', 'Miami']
my_list.reverse()
my_list

['Miami', 'Las Vegas', 'Los Angeles', 'New York']

#14. Create a list with a certain interval (use the built-in functions)

In [23]:

listim=list(range(-6,57,6))
listim

[-6, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54]

#15. Create a string and add the elements of the string to the list.

In [31]:

my_string = "Bahar"
[2,4,6] + list(my_string)

[2, 4, 6, 'B', 'a', 'h', 'a', 'r']

In [10]:
my_string = "My name is Bahar Rustamova"
new = my_string.split(" ")
new

['My', 'name', 'is', 'Bahar', 'Rustamova']