In [1]:

#1. Create string and print the reverse of it with different way

In [2]:
my_string = 'I am Bahar'
my_string

'I am Bahar'

In [3]:
my_string[::-1]

'rahaB ma I'

In [4]:

#2. Create string and print first,middle and last value of string

In [5]:
new = 'Sevda yaxshi qizdi '
a = new[0:6]
b = new[6:12]
c = new[12:19]
print('new_value=%s'%(a+b+c))

new_value=Sevda yaxshi qizdi

In [6]:
new = 'Sevda yaxshi qizdi'
a = new[0]
b = new[-1]
c = int(len(new)/2)
e = new[c]
print(a,b,e)

S i s

In [7]:

#3. Write code that returns the middle 3 values of the string

In [8]:
stringss = 'MakeItHappen'
c = int(len(stringss)/2)
#e = stringss[c]
part = stringss[(c-1):(c+2)]
part

'tHa'

In [9]:

#4. Create 2 string and add 2nd string to middle of first string

In [10]:
str1 = 'Dedem'
str2 = 'baba'
c = int(len(str1)/2)
e = str1[c]
new = str1[0:c] + str2 + str1[c:]
print(new)

Debabadem

In [11]:

#5. Create 2 string and create another string with combine of the values of first,middle and last of your first 2 string

In [12]:
str1 = 'Bahar'
str2 = 'rustamova'
#a=1 ci deyerlerin birlesmesi
a = str1[0]+str2[0]
a1 = int(len(str1)/2)
a11 = str1[a1] #a11=str1[int(len(str1)/2)]
a2 = int(len(str2)/2)
a22 = str2[a2] #a22=str2[int(len(str2)/2)]
#b orta deyerlerin birlesmesi
b= a11 + a22 #b=str1[int(len(str1)/2)]+str2[int(len(str2)/2)]
#c son deyerlerin birlesmesi
c= str1[-1]+str2[-1]
a+b+c

'Brhara'

In [13]:
my_str = 'Gece-gece yatmayib gecesine oxumaga hesr etmek'
#6. Write code to find how many "gece" words there

In [14]:
my_str = 'Gece-gece yatmayib gecesine oxumaga hesr etmek'
my_str.lower()
b = my_str.count('gece')
b

2

In [15]:
str1 = "Semra-is-a-data-scientist"
#7. Change this string to list , but all words must be same , and you don't need "-"

In [16]:
str1 = "Semra-is-a-data-scientist"
str2 = str1.split('-')
str3 = list(" ".join(str2))
str3

['S',
 'e',
 'm',
 'r',
 'a',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't']

# Some examples

In [17]:
a = [1,2,3,4]
c = list(zip(a,(i**2 for i in a)))
c
#c = list(zip(a,b))
#c

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [18]:
a = [1,2,3,4]
c = lambda x:x**2
d = list(map(c,a))
e = list(zip(a,d))
e

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [19]:
list1 = ["M","na","i","Ke"]
list2 = ["y","me","s","lly"]
a = list(i+j for i,j in zip(list1,list2))
a
#list(zip(list1,list2))

['My', 'name', 'is', 'Kelly']

In [20]:
list1 = ["Hello ","take "]
list2 = ["Dear ","Sir "]
a = list(i + j for i in list1 for j in list2)
a

['Hello Dear ', 'Hello Sir ', 'take Dear ', 'take Sir ']

In [21]:
list1 = [10,20,30,40]
list2 = [100,200,300,400]
for i,j in zip(list1,list2[::-1]):
     print(i,j)

10 400
20 300
30 200
40 100

In [22]:
elave_list=["h","i","j"]
list = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list[2][1][2]
list[2][1][2].extend(elave_list)
list

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [23]:
keys = ['Ten','Twenty','Thirty']
values = [10,20,30]
#dict(zip(['Ten','Twenty','Thirty'],[10,20,30]))
dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [24]:
my_Dict = {"class": {"student": {"name": "Tebriz","marks": {"physics": 70,"history": 80}}}}
my_Dict["class"]["student"]["marks"]["history"]

80